 * { 
  font-family: 'Roboto';
}

a, a:visited {
  color: #eaeaea;
}

a:hover, a:target, a:focus, a:active {
  color: #78b3fc;
}

.clearfix:after { 
   content: " ";
   display: block; 
   clear: both;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999999;
 -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  color:white;
  box-sizing: border-box;
  display: inline-block;
}

.navbar-links > ul > li {
  display: inline-block;
  margin: 4px 15px 0;
  font-size: 18px;
  letter-spacing: 1px;
    -webkit-animation-duration: 1.4s;
  -moz-animation-duration: 1.4s;
  -o-animation-duration: 1.4s;
  animation-duration: 1.4s;
    animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  opacity: 0;
}

.navbar-transparent {
  height: 90px;
  line-height: 90px;
  background-color: #1e1e25;
  opacity: .75;
}

.navbar-opaque {
  background-color: #283039;
  height: 70px;
  line-height: 70px;
}

.navbar-spacer {
  height: 100%;
  width: 7%;
  float: left;
}

.navbar-brand {
  width: 55%;
  float: left;
  font-size: 50px;
}

.brand-image {
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  animation-duration: 1.2s;
    animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  opacity: 0;
  margin-top: 5px;
  width: 260px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.navbar-links {
  width: 35%;
  float: left;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
}

.page-wrapper {
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
}

.parallax::-webkit-scrollbar {
 display: none;
}

.parallax {
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-perspective: 2px;
  perspective: 2px;
  transition: all 1s ease-in-out;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer--fore {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  min-height: 400vh;
}

.parallax__layer--back {
  -webkit-transform: translateZ(-2px) scale(2.1);
  transform: translateZ(-2px) scale(2.1);
  background: url(../img/mtn1.jpeg) no-repeat left top fixed;
  background-size: cover;
  min-height: 110vh;
  width: 100%;
}

.content-transparent {
  background-color: transparent;
}
.content-opaque {
  width: 100%;
  min-height: 200vh;
  display: inline-block;
  background-color: #1e1e25;
}

#waypoint-1 {
  width:100%;
}

.hero {
  font-family: 'Roboto';
  margin: 24% auto;
  text-transform: uppercase;
  opacity: 0;
  animation-delay: 1s;
}

.hero > h1 {
  font-size: 60px;
  color: #02264b;
  font-weight: 400;
  letter-spacing: 2px;
}

.page-down-button:hover {
  color: #3799fb;
  border-color: #3799fb;
}

.page-down-button {
  color: #02264b;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  border: 1px solid #02264b;
  box-sizing: border-box;
  padding-top: 4px;
  margin: 25px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.content-section {
  line-height: 1.5;
  width: 100%;
  float: left;
  min-height: 95vh;
  padding: 70px;
  box-sizing: border-box;
  display: inline-block;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 20px;
}

.content-about {
  background-color: #1a1a1a;
  color: #eaeaea;
}

.headshot {
  width: 200px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #78b3fc;
}
.skills-title {
  font-size: 30px;
}
.skills-box {
  margin: 20px;
}
.content-code {
  /*background-color: #eaeaea;*/
  /*background-color: #edf1f8;*/
  background-color: white;
  color: #1a1a1a;
  padding: 20px 0;
}
.code-card-container {
  width: 100%;
  display: inline-block;
  margin: 15px auto;
}

.code-card {
  width: 33.3333%;
  float: left;
  border-radius: 1px;
  box-shadow: 1px 1px 1px #bfbfbf;
  box-sizing: border-box;
  padding: 40px 20px;
  }

  .code-card-project {
      min-height: 90vh;
  }  
  .code-card-front-end {
      min-height: 60vh;
  }
  .project-img {
    /*width: 90%;*/
    max-height: 225px;
    max-width: 80%;

    border-radius: 5px;

  }
  .portfolio-img {
    /*width: 90%;*/
    max-height: 250px;
    max-width: 100%;
    margin: 30px auto;
    border-radius: 5px;

  }
  .project-links {
    font-size: 16px;
    border: 1px solid white;
    border-top-left-radius: 5px;
    width: 50%;
    margin: 15px auto;
    padding: 10px;
  }
  #code-ex-1, #code-ex-6 {
    background-color: #0f3357;
    color: #eaeaea;
  }
  #code-ex-2, #code-ex-5 {
    background-color: #345488;
    color: #eaeaea;
  }
  #code-ex-3, #code-ex-4 {
    background-color: #597ec0;
    color: #eaeaea;
  }

  .divider-line-light {
  background-color: white;
  width: 40px;
  height: 3px;
  margin: 10px auto;
}

  .code-card > h2 {
    font-family: 'Open Sans';
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
  }

.content-portfolio {
  background-color: #eaeaea;
  color: #1a1a1a;
}
.content-contact {
  background-color: #1a1a1a;
  color: #eaeaea;
  min-height: 50vh;
}

.project-description {
  font-weight: 100;
  font-size: 18px;
  line-height: 1.75;
  margin: 0 20px;
}

.email, .phone {
  font-size: 30px;
  font-weight: 300;
}
.email {
  margin: 20px auto;
}


.content-section > h1, .col-wide > h1 {
  font-size: 40px;
}

.col-narrow {
  width: 30%;
  min-height: 40vh;
  float: left;
  margin-right: 40px;
}
.col-wide {
  width: 60%;
  min-height: 40vh;
  float: left;
}
.col-wide > .about-paragraph {
  margin: 20px auto;
}
.icon {
  width: 40px;
  margin: 20px 20px 0;
}
.icon-container {
  text-align: center;
}

.content-section > h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 45px;
  letter-spacing: 1px;
}

#page-top-button {
  box-sizing: border-box;
  width: 45px; 
  height: 45px;
  text-align:center; 
  background-color: #D2D2D2;
  padding-top: 15px;
  color: white;
  position:fixed;
  top: 92%;
  display:none;
  opacity: .8;
  z-index: 5;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#page-top-button:hover {
  padding-top: 10px;
}


.slide-in-left {
   right: 40px;
}

.slide-out-left {
  right: -100px;
}

.animated-quick {
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
    animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.animated-slow {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
    animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.dropIn {
  animation-name: dropIn;
}

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: scale(1, 1) translateY(-900%);
  }

  70% {
    opacity: .5;
    transform: scale(1, 1) translateY(0);
  }
  85% {
    opacity: .8;
    transform: scale(1, 1) translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1) translateY(0);
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }  

  100% {
    opacity: .8;
  }
}

